[submodule "/home/sani/claude-config-sync/plugins/local/superpowers-lab"]
	path = /home/sani/claude-config-sync/plugins/local/superpowers-lab
	url = https://github.com/khursanirevo/superpowers-lab.git
